{% load static %}
<table class="table ">
    <tbody>
    <tr>
      <td> Номинальный ток, А </td>
      <td>{{ product.rated_current }}</td>
    </tr>
    <tr>
      <td> Количество силовых полюсов </td>
      <td>{{ product.power_poles }}</td>
    </tr>
    <tr>
      <td> Вольтаж, В </td>
      <td>{{ product.voltage }}</td>
    </tr>
    <tr>
      <td> Номинальная отключающая способность, кA (AC)  </td>
      <td>{{ product.rated_breaking }}</td>
    </tr>
    <tr>
      <td> Дифференциальный ток, мА  </td>
      <td>{{ product.differential_current }}</td>
    </tr>
    <tr>
      <td> Способ монтажа </td>
      <td>{{ product.mounting_method}}</td>
    </tr>
    <tr>
      <td> Степень защиты' </td>
      <td>{{ product.degree_protection }}</td>
    </tr>
     </tbody>
</table>